{% extends "templates/base.html" %}

{% block content %}

<div class="spacer_p-a-2 header">
  <div class="text text_center text_size_xl"><strong>Pale Mail</strong></div>
</div>

<div class="spacer_p-a-2 content">
  <p>Мне иногда кажется, что основная проблема человеческого рода — это то, что мы не знаем, что делать с собой. Человек рождается, не зная — что делать со своим временем; и постепенно, глядя на родителей и окружающих людей, повторяет их действия и учится делать, как они. Очень поучительно смотреть, как подрастающий ребенок учится заполнять свою жизнь действиями.</p>
  <p>А что это за действия? Ритуальные; они направлены только на то, чтобы быть принятым в обществе себе подобных и говорить с ними на одном языке. Мы хотим одобрения, хотим, чтобы нас похвалили, хотим быть любимыми. И делаем то, за что нас хвалят; а хвалят нас за то, что делает нас членами сообщества.</p>
  <p>А для чего нам? Чтобы — заняв свое место в обществе людей — иметь возможность осуществить свою основную функцию на этой земле — иметь возможность выбрать с кем — и продолжить человеческий род. На самом деле большая часть человеческой активности направлена именно к этой великой цели. Немудрено — без ее исполнения вообще не было бы жизни на земле. И чтобы поддержать нас в этом благом начинании, природа устраивает наше тело так, что занимаясь действиями, направленными на продолжение рода, мы биохимически испытываем то, что называем счастьем.</p>
  <p>—БГ/Аэростат </p>
</div>

<div class="spacer_p-a-2 socials">
  <div class="text text_center"><a href="">ВКонтакте</a></div>
</div>

{% endblock content %}
